/* start PRESET */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FAF8F2;
}

.footer {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    max-width: 100px;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px 10px;
}

p {
    color:#858585;
    font-size: 18px;
    line-height: 150%;
}

h1 {
    color:#dba237;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

h3 {
    color: #858585;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    line-height: 0%;
}

.resize {
    width: 180px;
    height: auto;
}

.banner {
    text-align: center;
    margin-bottom: 75px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* end PRESET */

/* start SITE NAV */
.site-nav{
    text-align:center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.site-nav ul li{
   display:inline;
}

.site-nav ul {
	margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;

}

.site-nav a {
    display: block;
    font-size: 15px;
	color: #858585;
	text-decoration: none;
}
@media (min-width: 900px) { /* font-size; */
    .site-nav a {
        font-size: 16px;
        padding: 20px 20px;
    }
}

.site-nav a:hover {
	color: #A8605D;
}

/* end SITE NAV */

/* start CASE STUDIES */
.wireframes {
    max-width: 1150px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

@media (min-width: 900px) { /* get rid of flex */
    .wireframes {display: flex;}
}

.container { 
    flex: 1;
    margin-bottom: 200px;
    text-align: center;
}

.wireframes a {
    max-width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    color: #dba237;
    border: 2px solid #dba237;
}

.wireframes a:hover {
    background-color: #dba237;
    color: #ffffff;
    border: 2px solid #dba237; 
}

.wireframes p {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (min-width: 900px) { /* get add back padding */
    .wireframes p {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
/* end CASE STUDIES */